@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  font-family: inherit;
  padding: 0.5rem 1rem;
  /* margin: 1rem; */
  background-color: #fff;
  cursor: pointer;
}
